body {
    font-family: "PT Serif", "serif";
    background-color: #f2f2f2;
    line-height: 1.65;
    font-size: 18px;
    color: #0a0a0a;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

a {
    color: #f553d2;
}

img {
    width: 100%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#blog h1, h2 {
    margin-bottom: 0;
    margin-top: 0;
}

#blog img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

#blog h5 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #595959;
}

#blog h6 {
    font-size: 14px;
    font-style: italic;
    color: #595959;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

#blog {
    margin-top: 1em;
    margin-bottom: 1em;
}

ol, ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

blockquote {
    font-style: italic;
    margin-left: 0.5em;
    font-size: 20px;
}